[Unit]
Description=One-time first boot tasks
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
